main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.enter-beta-ctn {
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
    margin-top: 15px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#errorMsg {
    color: red;
    margin-top: 10px;
    font-family: sans-serif;
}


h1 {
    font-family: sans-serif;
    font-size: 80px;
}